# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!doc*

# Unignore Makefiles
!Makefile

### Above combination will ignore all files without extension ###

.vscode/
*.o
ir.*
